.btn {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease-in-out;
}

.btn-primary {
  background: #007bff;
  color: white;
  border: none;
}

.btn-secondary {
  background: #6c757d;
  color: white;
  border: none;
}

.btn-success {
  background: #28a745;
  color: white;
  border: none;
}

.btn:hover {
  opacity: 0.9;
}

.ButtonDesign0{
  font-size: 18px;
  padding: 15px;
  width: 200px;
  height: 20px;
  background-color: #28a745;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.saveButtons{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.saveButton1{
  padding:10px 20px;
  border-radius: 10px;
  background-color: #667eea;
  color: white;
  border: white solid 1px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease-in-out;
  margin: 20px;
  width: 350px;
  height: 50px;
  font-size: 20px;
}