.MultiFrame{
    right: 200px;
    position: absolute;
    display: grid;
    grid-template-columns: 1.5fr;
    margin-bottom: 0 12px 0 0;
    padding: 12px;
    background: #f5f5f5;
    border-radius: 4px;
}