.LayoutSelector{
    /* align-items: center; */
    font-size: 20px;
}

/* FOR FLOATING WINDOW */
/* FOR FLOATING WINDOW */
/* FOR FLOATING WINDOW */

.MulPhotBtn{
    background-color: antiquewhite;
    padding: 7px;
    border: 0px;
    width: 90px;
}