* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  overflow: hidden;
}

.Header{
  max-width: 1700px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  /* border-bottom: 1px solid #dee2e6; */
}

.logo{
  width: 100%;
  max-width: 500px;
  height: auto;
  display: flex;
  justify-self: center;
}

.close-btn{
  cursor: pointer;
  width: 60px;
  height: 60px;
}